h1{
  font-weight: bold;

}
h2 {

}

header {
  text-align: center;
}

#search-bar {
  width: 30%;
  margin: 5px;
}

.body{
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.searches {
margin:5px;
  
}
.todayWeather {
  margin:5px;

}
.fiveDay {
  margin:5px;
  height: 100px;
  width: 100px;
  border: 1px;
  align-items: row ;
}
.forcast-day {

}